HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/frontend/node_modules/
/backend/logs/
/logs/
/backend/backend/
/backend/src/main/resources/public/static/
/backend/src/main/resources/public/admin.html
/backend/src/main/resources/public/favicon.ico
/backend/src/main/resources/public/index.html
/backend/src/main/resources/public/information.html
/backend/src/main/resources/public/search.html
